.App {
  background-color: #27374D;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  color: #fff;
}
.list {
  width: 600px;
  background-color: #526D82;
  color: #fff;
  font-size: 24px;
  padding: 20px;
}